/app/tmp
/manager/tmp
/manager/webroot/img/cache
/cook/tmp
/app/Config/core.php
/cook/Config/core.php
/manager/Config/core.php

app/tmp
manager/tmp
manager/webroot/img/cache
cook/tmp
app/Config/core.php
cook/Config/core.php
manager/Config/core.php

/app/tmp/*
/manager/tmp/*
/manager/webroot/img/cache/*
/cook/tmp/*
/app/Config/core.php
/cook/Config/core.php
/manager/Config/core.php
