.suborders-detail-tab {
	display: inline;
	margin: 0 10px;
	padding: 5px;
	border-radius: 10px 10px 0 0;
	background-color: #ccc;
	padding: 5px;
}

.suborders-detail-tab.active {
	background-color: red;
}

#suborders-detail-tab-component {
	/*margin-bottom: 10px;*/
	
}

.suborder-detail li {
	padding: 5px 0;
}