html,body {
    position: relative;
    min-height: 100%;
    margin: 0;
}

.dropdown-menu{
    position:fixed;
}
.show_extras {
    display: block;
    float: left;
    margin-bottom: 15px;
    margin-top: 14px;
    width: 100%;
}
.extras_inner{
    border: 1px solid #eee;
    border-radius: 14px;
    display: inline-block;
    font-size: 16px;
    margin: 4px;
    padding: 8px;
}
.extras_inner > span {
    margin-right: 10px;
}
.fa.fa-times.remove_extra {
    color: rgb(195, 14, 35);
    font-size: 19px;
}.fa.fa-times.remove_extra:hover {
    color: #23527c;
    font-size: 19px;
}

.name-title {
    /*margin-top:30px;*/
    /*margin-bottom: 30px;*/
    text-align: center;
}

.dish-price {
    width:100%;
    text-align: right;
    /* -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-indent: 10px; */
    padding-right:10px;
}

::-webkit-scrollbar {
    width: 30px;
    height: 30px;
    overflow: visible;
}

::-webkit-scrollbar-track {
    border: 15px solid transparent;
    background-clip: content-box;   THIS IS IMPORTANT
}
::-webkit-scrollbar-thumb {
    background: #D1D0D0;
    width: 30px;
    border-radius: 50px;
    height: 10px;
    border: 1px solid rgb(0,0,0);
    -webkit-box-shadow: 0 1px 1px rgb(0,0,0);
}​ 

/* .order-summary-indent {
    height: 350px;
} */

#button-group button {
    /*border-radius: 8px;*/
}

#send-to-kitchen {
    background-color: #c30e23;
    color: #fff;
}

#pay {
    background-color: #292929; 
    color: #fff;
}