swagger: '2.0'
info:
  title: POS API
  description: POS system API
  version: "1.0.0"
# the domain of the service
host: pos.auroraeducationonline.info
# array of all schemes that your API supports
schemes:
  - http
  - https
# will be prefixed to all paths
basePath: /api
produces:
  - application/json
paths:
  /access/generateToken:
    post:
      consumes:
        - application/x-www-form-urlencoded
      summary: generate access token for api
      description: |
        generate access token for api
        all api should attach access token
      parameters:
        - name: email
          in: formData
          description: Cashier's email address
          required: true
          type: string
        - name: password
          in: formData
          description: the password of cashier
          required: true
          type: string
          format: password
      tags:
        - Access
      responses:
        200:
          description: authentication success
          schema:
            properties:
              access_token:
                type: string
                description: the access token of cashier
        default:
          $ref: "#/responses/MissingArgumentError"

  /print/printPayReceipt:
    post:
      consumes:
        - application/x-www-form-urlencoded
      summary: print payment receipt
      description: |
        print payment receipt
      parameters:
        - $ref: "#/parameters/restaurantId"
        - $ref: "#/parameters/orderId"
        - $ref: "#/parameters/accessToken"
      tags:
        - Print
        - Pay
      responses:
        200:
          description: success print
        default:
          $ref: "#/responses/MissingArgumentError"

  /print/printPayBill:
    post:
      consumes:
        - application/x-www-form-urlencoded
      summary: print payment bill
      description: |
        print payment receipt
      parameters:
        - $ref: "#/parameters/restaurantId"
        - $ref: "#/parameters/orderId"
        - $ref: "#/parameters/accessToken"
      tags:
        - Print
        - Pay
      responses:
        200:
          description: access token
        default:
          $ref: "#/responses/MissingArgumentError"

  /print/printKitchenUrgeItem:
    post:
      consumes:
        - application/x-www-form-urlencoded
      summary: is used to implement urge item in order page
      description: |
        print the urged item to kitchen with urge 加急 tag
      parameters:
        - $ref: "#/parameters/restaurantId"
        - $ref: "#/parameters/orderId"
        - $ref: "#/parameters/itemIdList"
        - $ref: "#/parameters/accessToken"
      tags:
        - Order
        - Print
      responses:
        200:
          description: success
        default:
          $ref: "#/responses/MissingArgumentError"

  /print/printTokitchen:
    post:
      consumes:
        - application/x-www-form-urlencoded
      summary: print all items of order which do not print to kitchen printer
      description: |
        all items of order has a is_print tag, this function will print all items whose is_print tag is 'N'
        the printer is found by restaurant_id
      parameters:
        - $ref: "#/parameters/restaurantId"
        - $ref: "#/parameters/orderId"
        - $ref: "#/parameters/accessToken"
      tags:
        - Order
        - Print
      responses:
        200:
          description: success
        default:
          $ref: "#/responses/MissingArgumentError"

  /print/printKitchenRemoveItem:
    post:
      consumes:
        - application/x-www-form-urlencoded
      summary: print kitchen removed items
      description: |
        by default this function is called in /orderHandler/removeItem, when items are removed.
      parameters:
        - $ref: "#/parameters/restaurantId"
        - $ref: "#/parameters/orderId"
        - $ref: "#/parameters/itemIdList"
        - $ref: "#/parameters/accessToken"
      tags:
        - Order
        - Print
      responses:
        200:
          description: success
        default:
          $ref: "#/responses/MissingArgumentError"

  /print/printMergeBill:
    post:
      consumes:
        - application/x-www-form-urlencoded
      summary: print bill of merged orders
      parameters:
        - $ref: "#/parameters/restaurantId"
        - $ref: "#/parameters/orderIdList"
        - $ref: "#/parameters/accessToken"
      tags:
        - Merge
        - Print
      responses:
        200:
          description: success
        default:
          $ref: "#/responses/MissingArgumentError"

  /print/printMergeReceipt:
    post:
      consumes:
        - application/x-www-form-urlencoded
      summary: print receipt of merged orders
      parameters:
        - $ref: "#/parameters/restaurantId"
        - $ref: "#/parameters/orderIdList"
        - $ref: "#/parameters/accessToken"
      tags:
        - Merge
        - Print
      responses:
        200:
          description: success
        default:
          $ref: "#/responses/MissingArgumentError"

  /print/printTotalOrders:
    post:
      consumes:
        - application/x-www-form-urlencoded
      summary: (To be modified) print the total amount of saled orders
      description: |
        summary of card, cash and the percent of card and cash in total amount
        this function is used in report controller
      parameters:
        - $ref: "#/parameters/restaurantId"
        - $ref: "#/parameters/tableType"
        - $ref: "#/parameters/accessToken"
      tags:
        - Report
        - Print
      responses:
        200:
          description: success
        default:
          $ref: "#/responses/MissingArgumentError"

  /print/printTotalItems:
    post:
      consumes:
        - application/x-www-form-urlencoded
      summary: (To be modified) print all saled items
      description: |
        should add timestamp range
      parameters:
        - $ref: "#/parameters/restaurantId"
        - $ref: "#/parameters/tableType"
        - $ref: "#/parameters/accessToken"
      tags:
        - Report
        - Print
      responses:
        200:
          description: success
        default:
          $ref: "#/responses/MissingArgumentError"

  /orderHandler/addItem:
    post:
      consumes:
        - application/x-www-form-urlencoded
      summary: add item to order
      description: |
        add item to order.
        only one item every time.
        if the order do not exist, this function will create the order first, and then add item to the order.
        Finally, the funtion will update the bill information, including subtotal, total, etc.
      parameters:
        - $ref: "#/parameters/itemId"
        - $ref: "#/parameters/tableNo"
        - $ref: "#/parameters/tableType"
        - $ref: "#/parameters/cashierId"
        - $ref: "#/parameters/accessToken"
      tags:
        - Order
      responses:
        200:
          description: return order_item_id
          schema:
            properties:
              order_item_id:
                type: integer
                format: int32
                description: the id of order_item which is added
        default:
          $ref: "#/responses/MissingArgumentError"

  /orderHandler/removeItem:
    post:
      consumes:
        - application/x-www-form-urlencoded
      summary: remove items from order and print cancelled item to kitchen
      description: |
        be able to remove multiple items by once.
        Finally, the funtion will update the bill information, including subtotal, total, etc.
      parameters:
        - $ref: "#/parameters/itemIdList"
        - $ref: "#/parameters/orderNo"
        - $ref: "#/parameters/cashierId"
        - $ref: "#/parameters/accessToken"
      tags:
        - Order
        - Print
      responses:
        200:
          description: success
        default:
          $ref: "#/responses/MissingArgumentError"

  /orderHandler/changePrice:
    post:
      consumes:
        - application/x-www-form-urlencoded
      summary: change price of order_items
      description: |
        Finally, the funtion will update the bill information, including subtotal, total, etc.
      parameters:
        - $ref: "#/parameters/itemIdList"
        - $ref: "#/parameters/tableType"
        - $ref: "#/parameters/tableNo"
        - $ref: "#/parameters/orderNo"
        - $ref: "#/parameters/itemPrice"
        - $ref: "#/parameters/accessToken"
      tags:
        - Order
      responses:
        200:
          description: success
        default:
          $ref: "#/responses/MissingArgumentError"

  /orderHandler/changeQuantity:
    post:
      consumes:
        - application/x-www-form-urlencoded
      summary: change quantity of order_items
      description: |
        Finally, the funtion will update the bill information, including subtotal, total, etc.
      parameters:
        - $ref: "#/parameters/itemIdList"
        - $ref: "#/parameters/tableType"
        - $ref: "#/parameters/tableNo"
        - $ref: "#/parameters/orderNo"
        - $ref: "#/parameters/itemQuantity"
        - $ref: "#/parameters/accessToken"
      tags:
        - Order
      responses:
        200:
          description: success
        default:
          $ref: "#/responses/MissingArgumentError"

  /orderHandler/takeout:
    post:
      consumes:
        - application/x-www-form-urlencoded
      summary: set takeout flag of order_items
      parameters:
        - $ref: "#/parameters/itemIdList"
        - $ref: "#/parameters/tableType"
        - $ref: "#/parameters/tableNo"
        - $ref: "#/parameters/accessToken"
      tags:
        - Order
      responses:
        200:
          description: success
        default:
          $ref: "#/responses/MissingArgumentError"

  /orderHandler/batchAddExtras:
    post:
      consumes:
        - application/x-www-form-urlencoded
      summary: add extras to multiple order_items
      description: |
        Finally, the funtion will update the bill information, including subtotal, total, etc.
      parameters:
        - $ref: "#/parameters/itemIdList"
        - $ref: "#/parameters/extraIdList"
        - $ref: "#/parameters/tableType"
        - $ref: "#/parameters/tableNo"
        - $ref: "#/parameters/itemSpecial"
        - $ref: "#/parameters/cashierId"
        - $ref: "#/parameters/accessToken"
      tags:
        - Order
      responses:
        200:
          description: success
        default:
          $ref: "#/responses/MissingArgumentError"

  /orderHandler/addExtras:
    post:
      consumes:
        - application/x-www-form-urlencoded
      summary: add or remove extras to single order_item
      description: |
        Finally, the funtion will update the bill information, including subtotal, total, etc.
      parameters:
        - $ref: "#/parameters/itemId"
        - $ref: "#/parameters/extraIdList"
        - $ref: "#/parameters/tableType"
        - $ref: "#/parameters/tableNo"
        - $ref: "#/parameters/itemSpecial"
        - $ref: "#/parameters/cashierId"
        - $ref: "#/parameters/accessToken"
      tags:
        - Order
      responses:
        200:
          description: success
        default:
          $ref: "#/responses/MissingArgumentError"


  /discountHandler/addDiscount:
    post:
      consumes:
        - application/x-www-form-urlencoded
      summary: add discount to order
      description: |
        Finally, the funtion will update the bill information, including subtotal, total, etc.
      parameters:
        - $ref: "#/parameters/orderNo"
        - name: percent_discount
          in: query
          required: false
          type: number
          format: float
        - name: promocode
          in: query
          required: false
          type: string
        - name: cashier_id
          in: query
          required: true
          type: string
      tags:
        - Discount
      responses:
        200:
          description: success
        default:
          $ref: "#/responses/MissingArgumentError"

  /discountHandler/removeDiscount:
    post:
      consumes:
        - application/x-www-form-urlencoded
      summary: remove discount of order
      description: |
        Finally, the funtion will update the bill information, including subtotal, total, etc.
      parameters:
        - $ref: "#/parameters/orderNo"
      tags:
        - Discount
      responses:
        200:
          description: success
        default:
          $ref: "#/responses/MissingArgumentError"

  /payHandler/completeOrder:
    post:
      consumes:
        - application/x-www-form-urlencoded
      summary: complete the order
      description: |
        set order as complete
      parameters:
        - $ref: "#/parameters/orderId"
        - $ref: "#/parameters/tableType"
        - $ref: "#/parameters/tableNo"
        - name: paid_by
          in: query
          description: the type of paid
          required: true
          type: string
        - name: pay
          in: query
          description: the total of payment
          required: true
          type: string
        - name: change
          in: query
          description: the change of order找零
          required: true
          type: string
        - name: card_val
          in: query
          description: the customer payment with card
          required: true
          type: string
        - name: cash_val
          in: query
          description: the customer payment with cash
          required: true
          type: string
        - name: tip_paid_by
          in: query
          description: the method of tip paid
          required: true
          type: string
        - name: tip
          in: query
          description: the tip
          required: true
          type: string
      tags:
        - Pay
      responses:
        200:
          description: success

parameters:
  restaurantId:
    name: resturant_id
    in: formData
    description: the id of restaurant
    required: true
    type: integer
    format: int32

  orderId:
    name: order_id
    in: formData
    description: the id of order
    required: true
    type: string

  orderNo:
    name: order_no
    in: formData
    description: the number of order
    required: true
    type: string

  accessToken:
    name: access_token
    in: formData
    description: the access token of cashier
    required: true
    type: string

  itemId:
    name: item_id
    in: formData
    description: the id of order_item
    required: true
    type: integer
    format: int32

  cashierId:
    name: cashier_id
    in: formData
    description: the id of cashier
    required: true
    type: integer
    format: int32

  tableNo:
    name: table
    in: formData
    description: the number of table
    required: true
    type: integer
    format: int32

  tableType:
    name: type
    in: formData
    description: the type of table
    required: true
    type: string
    enum:
      - dine
      - takeout
      - wait

  itemIdList:
    name: item_id_list
    in: formData
    description: a list of item id
    required: true
    type: array
    items:
      type: integer
      format: int32

  extraIdList:
    name: extra_id_list
    in: formData
    description: a list of extra id
    required: true
    type: array
    items:
      type: integer
      format: int32

  orderIdList:
    name: order_ids
    in: formData
    description: a list of order id
    required: true
    type: array
    items:
      type: integer
      format: int32

  itemPrice:
    name: price
    in: formData
    description: the price of item
    required: true
    type: number
    format: float

  itemQuantity:
    name: quantity
    in: formData
    description: the quantity of item
    required: true
    type: integer
    format: int

  itemSpecial:
    name: special
    in: formData
    description: the special message for item
    required: true
    type: string

definitions:
  Error:
    properties:
      code:
        type: string
      message:
        type: string

responses:
  MissingArgumentError:
    description: missing argument
    schema:
      $ref: "#/definitions/Error"
